.tab-item {
    &__boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }
    &__box-left,
    &__box-right {
        display: flex;
        width: 155px;
        height: 73px;
        background-color: #ececf1;
        padding: 17px 21px;
        border-radius: 10px;
        vertical-align: middle;

        & img {
            margin-right: 15px;
        }
        & p {
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #171717;
            padding-top: 12px;
        }
    }
    &__box-left {
        background-color: #4832dc;
        border: 1px solid #4832dc;

        & p {
            color: #ffff;
        }
    }
    &__your-pin {
        margin-bottom: 11px;
        text-align: start;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
    }
    &__input{
        width: 100%;
        margin-bottom: 9px;
        padding: 13px 15px;
        border-radius: 10px;
        background-color: #F3F3F3;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        &::placeholder{
        color: #ABABAB;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;

        }
    }
    &__btn-submit{
        color: #4832DC;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }

}
