.our-services {
    &__inner {
        margin-top: 90px;
        position: relative;
        &::before {
            content: 'Our Services';
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 90px;
            font-weight: 600;
            line-height: 1.5;
            color: #0000001b;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title,
    &__subtitle,
    &__text {
        text-align: center;
    }
    &__title {
        font-size: 40px;
    }
    &__subtitle {
        font-size: 20px;
        margin-bottom: 33px;
    }
    &__text {
        padding: 0 167px;
        margin-bottom: 46px;
        font-size: 15px;
        line-height: 1.5;
        color: #858585;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 47px;
        margin: 0 92px;
    }
}

//--------------service-item-----------------------

.service-item {
    display: flex;
    width: 30%;
    &__box-icon {
        min-width: 102px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 29px;
        border-radius: 7px;
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 10px;
        color: #858585;
    }
}
//-------------screens--------------------

@media (max-width: 800px) {
    .our-services {
        &__text {
            padding: 0 20px;
        }
        &__wrapper {
            margin: 0 20px;
            gap: 30px;
        }
    }
    .service-item {
        width: 40%;
    }
}
@media (max-width: 700px) {
    .our-services {
        &__inner {
            &::before {
                font-size: 70px;
            }
        }
    }
}
@media (max-width: 600px) {
    .our-services {
        &__inner {
            &::before {
                font-size: 60px;
            }
        }
        &__text {
            padding: 0 10px;
        }
        &__wrapper {
            margin: 0;
            padding: 10px;
        }
    }
    .service-item {
        width: 40%;
        flex-direction: column;
    }
}
@media (max-width: 530px) {
    .our-services {
        &__inner {
            &::before {
                font-size: 50px;
            }
        }
    }
}
@media (max-width: 400px) {
    .our-services {
        &__inner {
            &::before {
                font-size: 38px;
            }
        }
        &__title {
            font-size: 32px;
        }
    }
    .service-item {
        width: 100%;
        flex-direction: row;
    }
}
