.header-slider{
    position: relative;
    width: 581px;
    height: 624px;
    &__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 469px;
    height: 624px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
      &__btns {
     position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
    button {
      margin: 0 10px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover img svg path{
        fill: red;
      }
    }
   
}