@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// font-family: 'Poppins', sans-serif;
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
.container {
    width: 85.4rem;
    margin: 0 auto;
    background-color: #fff;
}
.title{
    font-weight: 600;
    font-style: normal;
    color: #000;
    line-height: 1.5;
    & span {
        color: #4832DC
    }
    &::before{
        content: '';
    }
}

.subtitle{
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 1.5;

}