@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@400;500;700&display=swap');

// font-family: 'Poppins', sans-serif;
//font-family: 'Passion One', cursive;
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    background-color: #fff;
}

.container {
    width: 1366px;
    margin: 0 auto;
    
}
.title{
    font-weight: 600;
    font-style: normal;
    color: #000;
    line-height: 1.5;
    & span {
        color: #4832DC
    }
    &::before{
        content: '';
    }
}

.subtitle{
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 1.5;

}
.about-page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    width: 100%;
}