@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@400;500;700&display=swap');

// font-family: 'Poppins', sans-serif;
//font-family: 'Passion One', cursive;

html,
body,
.App,
#root {
    min-height: 100vh;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.App {
    display: flex;
    flex-direction: column;
}
section {
    display: block;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}
.about-page__inner,
.tracking-page__inner,
.service-page__inner,
.gallery-page__inner,
.help-page__inner {
    width: 90vw;
    margin: 0 auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.title {
    font-weight: 600;
    font-style: normal;
    color: #000;
    line-height: 1.5;
    & span {
        color: #4832dc;
    }
    &::before {
        content: '';
    }
}

.subtitle {
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 1.5;
}

//----------screens-------------------
@media (max-width: 600px) {
    body.lock {
        overflow: hidden;
    }
}
