.header {
    padding: 0 10px;
&-top{
    display: none;
    padding: 10px;
    justify-content: end;
    }
&-inner {
    display: flex;
    row-gap: 30px;
    padding: 0 35px;
    }

}


//----------header-menu--------------
.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 274px;
    margin-right: 60px;
    padding: 37px 0 0 0;
}

.icon-list {
    &__list {
        display: flex;
    }
}
.menu {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 500;
    font-size: 0.9rem;
    line-height: 2.9;
    color: #000;

    & .item-active {
        color: #512f8b;
    }
}
//----------header-slider---------------

.header-slider {
    max-width: 594px;
    &__content {
        position: relative;
        width: 594px;
        height: 624px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__span {
        position: absolute;
        bottom: 34px;
        right: 0;
        &::before {
            content: 'Fast & Safe Delivery';
            position: absolute;
            color: #ffff;
            right: 20%;
            bottom: 25%;
            font-size: 21px;
            font-weight: 500;
        }
    }

    &__btns {
        position: absolute;
        bottom: -5px;
        right: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    button {
        margin: 0 10px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover img svg path {
            fill: red;
        }
    }
}
.slider-item {
    position: absolute;
    width: 469px;
    height: 624px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.active {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
//-----------------header-tabs-------------------
.header-tabs {
    padding: 37px 0 0 0;
    max-width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    &__login {
        margin-bottom: 63px;
        text-align: end;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }
    &__tabs {
        height: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 42px 0 0;
        text-align: center;
    }
    &__title {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        line-height: 1.5;
        font-weight: 600;
    }
    &__move-down {
        text-align: end;
    }

    &__track {
        display: flex;
        justify-content: flex-end;
        & span {
            width: 132px;
            height: 40px;
            border-bottom: 1px solid #ffae00;
        }
        & img {
            margin: 0 24px;
        }
        &-text--box {
            display: block;
            width: 132px;
            height: 40px;
            border-bottom: 1px solid #ffae00;
            & p {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                line-height: 1.5;
                font-weight: 400;
            }
        }
    }
}

.tabs-form {
    max-width: 328px;
    &__btn-box {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 19px;
    }
    &__btn {
        line-height: 1.2;
        padding: 10px;
    }
    &__btn.active {
        color: #4832dc;
        border-bottom: 2px solid #4832dc;
    }
}
.tab-item {
    &__boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }
    &.hidden {
        display: none;
    }
    &__box-left,
    &__box-right {
        display: flex;
        width: 155px;
        height: 73px;
        background-color: #ececf1;
        border: 1px solid #e3e3e6bf;
        box-shadow: -5px 9px 8px rgba(0, 0, 0, 0.188235);
        padding: 17px 21px;
        border-radius: 10px;
        vertical-align: middle;
        transition: all 0.5s ease;
        &:active {
            transform: scale(0.9);
        }
        &.active {
            background-color: #4832dc;
            border: 1px solid transparent;
            transition: border 0.5s ease 0.5s;
            & p {
                color: #ffff;
            }
        }

        & img {
            margin-right: 15px;
        }
        & p {
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #171717;
            padding-top: 12px;
        }
    }

    &__your-pin {
        margin-bottom: 11px;
        text-align: start;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
    }
    &__input {
        width: 100%;
        margin-bottom: 9px;
        padding: 13px 15px;
        border-radius: 10px;
        background-color: #f3f3f3;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        &::placeholder {
            color: #ababab;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
        }
    }
    &__btn-submit {
        color: #4832dc;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }
}
.tab-item2 {
    &__boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }
    &.hidden {
        display: none;
    }
    &__box-left,
    &__box-right {
        display: flex;
        width: 155px;
        height: 73px;
        background-color: #ececf1;
        box-shadow: -5px 9px 8px rgba(0, 0, 0, 0.188235);
        padding: 17px 21px;
        border-radius: 10px;
        vertical-align: middle;
        transition: all 0.2s ease;
        &:active {
            transform: scale(0.9);
        }
        &.active {
            background-color: #12d258;
            border: 1px solid #3ac322;
            & p {
                color: #ffff;
            }
        }

        & img {
            margin-right: 15px;
        }
        & p {
            font-size: 15px;
            line-height: 1.2;
            font-weight: 400;
            color: #171717;
            padding-top: 12px;
        }
    }

    &__your-pin {
        margin-bottom: 11px;
        text-align: start;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
    }
    &__input {
        width: 100%;
        margin-bottom: 9px;
        padding: 13px 15px;
        border-radius: 10px;
        background-color: #f3f3f3;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        &::placeholder {
            color: #ababab;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
        }
    }
    &__btn-submit {
        color: #4832dc;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }
}
.tab-item3 {
    &__content {
        text-align: start;
    }
    &.hidden {
        display: none;
    }
}

//---------------screens---------------------
@media (max-width: 600px) {
    .header {
        margin-bottom: 20px;
        &-top{
            display: flex;
        }
        &-inner {
            flex-wrap: wrap;
            gap: 30px;
            padding: 0;
            justify-content: center;
        }

        &-menu {
            gap: 30px;
            margin-right: 0;
            padding-top: 0;
        }
        &-slider {
            &__content {
                width: 394px;
                & .slider-item {
                    width: 100%;
                }
            }
            &__span {
                right: 20%;
            }
            &__btns {
                right: 75%;
                bottom: -45px;
            }
        }
    }
    .menu {
        order: 3;
        display: none;
    }
}
@media (max-width: 400px) {
    .header {
        &-slider {
            &__content {
                width: 294px;
            }
            &__span {
                right: 10%;
            }
        }
    }
}
