.footer {
    margin-top: 150px;
    color: #fff;
    background-color: #18104a;
    display: block;
    &__top {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        padding: 45px 93px 36px 101px;
        position: relative;
    &::before,
    &::after {
        content: '';
        width: 345px;
        height: 277px;
        background-image: url('../../assets/images/shape.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;

    }
    &::before {
        left: 50px;
    }
    &::after {
        right: 110px;
    }
    }
    &__content {
        max-width: 316px;
        z-index: 5;
        & .text {
            margin-top: 22px;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
    &__date {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        z-index: 5;
    }
    &__item-title {
        margin-bottom: 18px;
        font-weight: 500;
        line-height: 1.5;
        text-transform: uppercase;
        &--social {
            margin-bottom: 18px;
        }
    }
    &__item {
        font-size: 14px;
        font-weight: 300;
        line-height: 2;
        &--point {
            margin-top: 13px;
        }
    }
    &__bottom {
        height: 51px;
        background-color: #10093b;
        padding-top: 11px;
        &-wraper {
            max-width: 1366px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__link {
        color: #fff;
        &--point {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            align-items: center;
        }
        &--help {
            display: flex;
            margin-right: 29px;
            color: #eda306;
            font-size: 14px;
            font-weight: 300;
            padding-top: 5px;

            & span {
                margin-right: 10px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: #eda306;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & p:hover {
                border-bottom: 1px solid #eda4067a;
            }
        }
    }

    &__copyright-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
    }
    &__paymant {
        display: flex;
    }
}
